
.test-div {
  background-color: beige;
  padding: 25px;
}

.test-div li {
  list-style: none;
}

button.log-button, li.plant-log-item {
  cursor: pointer;
}

.current-meal-area h5 {
  margin: 45px 0px 0px 0px;
  text-decoration: underline;

}

.current-meal-area ul {
  margin: 4px;
  padding-left: 15px;
}