
/* div.veggie-box {
  height: 250px;
  text-align: center;
  border: 1px solid #000000;
  background-color: aquamarine;
} */

div.component-style {
  color: #fff;
  text-align: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

div.veggie-box {
  padding: 1em;
}