div.App {
  margin: 1vh;
  padding: 5px;
  border: 4px solid #8eb9a6;
  display: flex;
  justify-content: center;
  min-height: 98vh;
}

div.card-container {
  width: 96vw;
  display: flex;
  justify-content: space-around;
}

div.card-holder {
  margin-top: 10px;
  text-align: center;
  width: 35vw;
}