div.App {
  position: relative;
  justify-content: center;
   min-height: 98vh; 
   display: flex;
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* div.card-container {
  width: 700px;
  display: flex;
  justify-content: space-around;
} */

div.card-holder {
  margin-top: 10px;
  text-align: center;
  width: 35vw;
}

input[type=text] {
  height:35px;
  padding: 0px 10px;
  color: #156e58;
  font-family: 'VT323', monospace;
  font-size: 25px;
  width: 96%;
  margin-bottom: 10px;
  border: 2px solid #98c4b0;
  border-radius: 5px;
  background-color: #dddddd;
}

input[type=text]:focus {
  outline: none;
  border: 2px solid #000;
} 

body {
  font-size: 18px;
  color: #156e58;
}

/* div.app-container {
  max-width: 736px;
  width: 100%;
  max-height: 414px;
  height: 100%;
  align-items: center;
  justify-content: center;

  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
} */
/* 
div.app-border {
  background: url("./svg/border.svg");
  background-repeat: no-repeat;

}  */

div.app-container {
  width: 100%;
  height: 100%;
}

div.dark-box {
  margin-top: 15vh;
  width: 100%;
  height:65vh;
  background-color: #0000007a;
}