* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-self: center;
 }

html {
  overflow-x: hidden;
  /* scroll-behavior: auto; */
}


/* div#root {
  width: 100vh;
  height: 100vh;
  /* display: grid;
  justify-content: center;
  align-items: center;
} */

/* position: relative;
margin: 1vh;
padding: 5px;
border: 4px solid #8eb9a6;
/* display: flex; */
/* justify-content: center;
min-height: 98vh; */

body {
  background-image: url('./assets/images/veggie-BG.jpg');
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  overflow-x: hidden;
}

div.component-style {
  color: #fff;
  text-align: center;
  align-content: center;
  justify-content: center;
  min-height: 300px;
  align-items: center;
}

div.dark-box {
  margin-top: 10%;
  height:65vh;
  padding-top: 10px;
  width: 100%;
  min-height: 300px;
  background-color: #1a1a1a83;
  align-items: center;
  justify-content: center;
}