* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-self: center;
 }

/* div#root { */
  /* width: 100vh;
  height: 100vh; */
  /* background: url("./svg/border.gif");
  background-repeat: no-repeat; */
  /* display: grid;
  justify-content: center;
  align-items: center; */
/* } */


/* position: relative;
margin: 1vh;
padding: 5px;
border: 4px solid #8eb9a6;
/* display: flex; */
/* justify-content: center;
min-height: 98vh; */

body {
  background: url("../src/assets/images/veggies.jpg") no-repeat center center fixed;
  background-size: cover;
}