div.community-dark-box {
  text-align: center;
  margin-top: 5%;
  padding-top: 15px;
  width: 100%;
  /* min-height: 300px; */
  /* height: 100%; */
  background-color: #0000009a;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

form.challenge-form {
  margin-top: 10px;
  width: 100%;
}

#challenger-label {
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.747); */
  padding: 3px;
  /* border: 1px solid #fff; */
  border-bottom: 0px;
  margin-bottom: 4px;
  margin-left: 30px;
  transform: translateY(-20px);
}

.community-display li{
  list-style: none;
}

.past-challenge-container {
  border-top: 4px solid rgba(255, 255, 255, 0.562);
}