/* div {
    padding: 2%;
}

div.testContainer {
    color: red !important;
    text-align: center;
}

.testDiv > p {
    color: red !important;
    text-align: center !important;
    width: 50%;
}

#divCon {
    padding: 2%;
    margin: 2%;
} */