h3 {
  margin-top: 10px;
}
button.log-button {
  width: 80%;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: #f28327;
  color: #afe4cd;
  font-size: 24px;
  font-family: 'VT323', monospace;
}

ul.search-results {
  padding-bottom: 15px;
}

.plant-log-area ul {
  padding: 0px;
}
.plant-log-area li {
  list-style: none;
}

button.log-button, li.plant-log-item {
  cursor: pointer;
}

.current-meal-area h5 {
  margin: 45px 0px 0px 0px;
  text-decoration: underline;

}

.current-meal-area ul {
  margin: 4px;
  padding-left: 15px;
}