/* h3 {
  margin: 10px;
}

h2 {
  margin: 3%;
}

input.log-input {
  margin-top: 20px;
  max-width: 170px;
  margin-bottom: 30px;
}

.center-button {
  text-align: center;
}

button.log-button {
  /* position: absolute; */
  /* text-align: center; */
  /* bottom: 15px; */
  /* justify-content: center; */
  /* right: 50%; */
  /* transform: translate(50%); */
  /* width: 100%;
  max-width: 90px;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: #f28327;
  color: #afe4cd;
  font-size: 24px;
  font-family: 'VT323', monospace;
}
*/
/*
ul.search-results {
  padding-bottom: 15px;
}
*/