h3 {
  margin-top: 10px;
}
button.log-button {
  width: 80%;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: #f28327;
  color: #afe4cd;
  font-size: 24px;
  font-family: 'VT323', monospace;
}

ul.search-results {
  padding-bottom: 15px;
}