div.user-details {
  text-align: center;
  /* width: 20vw; */
  /* margin: 5px 15px; */
}

.user-details h3 {
  margin-top: 10px;
  font-size: 20px;
}

span.user-level {
  font-size: 36px;
}

img.userCharacter {
  width: 95%;
}