/* div.detail-card {
  background-color: #f1efd8;
  border-radius: 8px;
  height: 100%;
  min-height: 250px;
} */

.detail-card li {
  margin-bottom: 3px;
  font-size: 28px;
  text-align: center;
  list-style: none;
}

.detail-card > ul {
  text-align: center;
  margin: 0 5px;
  padding: 10px 0;
}