.user-stats ul {
  margin: 4px;
  padding-left: 15px;
}
.user-stats li {
  list-style: none;
}
.user-stats h5 {
  margin: 0px;
  text-decoration: underline;

}

h2.view-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.home-screen {
  padding-bottom: 85px;
}

div.home-dark-box {
  text-align: center;
  margin-top: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  min-height: 300px;
  background-color: #0000009a;
  align-items: center;
  justify-content: center;
}

div.plant-log {
  margin-bottom: 45px;
}

hr.home-rule {
  display: none;
}

@media only screen and (max-width: 959px) {
  hr.home-rule {
    display: block;
    margin: 25px auto;
    background-color: rgba(255, 255, 255, 0.562);
    padding: 4px;
    width: 45%;
    border: 0px;
  }
}