/* div.home-container {
  max-width: inherit;
  width: inherit;
  max-height: inherit;
  height: inherit;
}

h3 {
  padding: 0;
  margin: 0;
}

div.card-container {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */

  /* right: 0;
  left: 0;
  top: 0;
  bottom: 0; */
  /* margin: auto;
}

div.card-holder {
  justify-content: space-around;
  margin-top: 2px;
  text-align: center;
  width: 10%;
}

.home-container h1 {
  padding-bottom: 15px;
}*/
/*

div.veggie-box {
  text-align: center;
  border: 1px solid #000000;
  background-color: aquamarine;
  margin-top: 15px;
} */
div.user-stats {
  text-align: left;
  padding-left: 10px;
}
.user-stats ul {
  margin: 4px;
  padding-left: 15px;
}
.user-stats li {
  list-style: none;
}
.user-stats h5 {
  margin: 0px;
  text-decoration: underline;

}
