div.user-stats {
  /* text-align: left; */
  /* padding-left: 10px; */
}
.user-stats ul {
  margin: 4px;
  padding-left: 15px;
}
.user-stats li {
  list-style: none;
}
.user-stats h5 {
  margin: 0px;
  text-decoration: underline;

}
