.white-background {
  padding-top:7px;
  padding-right: 5px;
  background-color: #fff;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 999;
}

.MuiGrid-spacing-xs-2 {
  margin: 0;
}

h1.veggie-header {
  margin: 0;
  padding-left: 20%;
  text-align: center;
  height: 50%;
}

.mobile-menu div{
  width: 25px;
  height: 2px;
  background-color: #1f1f1f;
  margin: 5px;
}

.mobile-menu-display {
  height: 95px;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  z-index: 9;
}

/* .nav-bar{
  position: relative;
  display: flex;
  
} */

.nav-bar li {
  list-style: none;
}

.nav-bar a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 17px;
  font-weight: 500;
}

.nav-bar {
  justify-content: space-around;
  padding: 0px;
  position: absolute;
  right: 25px;
  top: 30px;
  width: 200px;
  height: 0px;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 500ms ease-in;
  z-index: 0;
}

.nav-bar li {
  font-size: 0px;
  transition: font-size 500ms ease-in;
}

.mobile-menu {
  cursor: pointer;
  display: block;
}

.mobile-menu-display {
  height: 250px;
  padding: 15px;
}

.mobile-menu-display li {
  font-size: 1em;
}

@media screen and (max-width: 415px) {
  h1 {
    font-size: x-large;
    text-align: left;
  }
}