div > .white-background {
    background-color: #fff;
    align-items: center;
}

h1.veggie-header {
    margin: 0;
}

h4.veggie-menu {
    margin: 0;
    text-align: right;
    padding-right: 5px;
}


footer.veggie-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 4px 0px;
}

p {
    height: 200px;
}