/* div.veggie-box {
  height: 250px;
  text-align: center;
  border: 1px solid #000000;
  background-color: aquamarine;
} */
/* div.dark-box {
  margin-top: 15vh;
  width: 100%;
  height:65vh;
  background-color: #0000007a;
  margin-bottom: 15vh;
} */
/* div.component-style {
    color: #fff;
    text-align: center;
    align-content: center;
    justify-content: center;
    min-height: 300px;
    align-items: center;
  } */
  
  /* div.dark-box {
    margin-top: 10%;
    height:65vh;
    padding-top: 10px;
    width: 100%;
    min-height: 300px;
    background-color: #0e0e0e91;
    align-items: center;
    justify-content: center;
  } */
  
  /* .zero-out {
    padding: 0 !important;
    margin-top: 10px;
  } */